.gradient1 {
	background: -webkit-linear-gradient(#F76B10, #FFA647);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bx-shd {
    border: 1px solid #F76B10;
    border-radius: 12px;
    box-shadow: 0px 0px 20.7px 7px rgba(247, 107, 16, 0.5);
}
 
/*Join a Private Race*/
 
.custom-card {
  background-color: #0b1d4a;
  padding: 32px;
  display: flex;
  flex-direction: column;
  border: 1px solid #F76B10;
  border-radius: 12px;
  box-shadow: 0px 0px 20.7px 7px rgba(247, 107, 16, 0.5);
}
 
.btn-join {
    background: linear-gradient(100deg, #F76B10, #FFA647);
    color: #fff;
    border-radius: 50px;
    padding: 16px;
	font-size: 18px;
    font-weight: 600;
    border: none;
}
 
.btn-join:hover {
  opacity: 0.9;
}

.page-header h1.user-name-show span {
    background: -webkit-linear-gradient(#F76B10, #FFA647);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.btn-decline {
  background: transparent;
  color: #fff;
  border: 1px solid #ff7a00;
  border-radius: 50px;
      padding: 16px;
    font-weight: 600;
    font-size: 18px;
}
 
.btn-decline:hover {
  background-color: rgba(255, 122, 0, 0.1);
  color: #fff;
}
.custom-card h5, p {
    color: #ffffff;
}